.text-field {
	-fx-background-color: #242633, #FFFFFF;
	-fx-background-insets: 0, 1 1 1 1;
	-fx-background-radius: 5;
}
.text-field:focused {
	-fx-background-radius: 5;
	-fx-background-color: #66A7F2, #FFFFFF;
}

.jfx-snackbar-toast{
	-fx-text-fill: #FE774C;
	-fx-font-weight: bold;
}

.jfx-snackbar-content{
	-fx-background-color: #383838;
	-fx-background-radius: 10 10 0 0;
}

.button:hover{
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}

#lblSignUp:hover, #lblForgotPassword:hover{
	-fx-text-fill: #5DD299;
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}

.jfx-layout-heading{
	-fx-background-color: #66A7F2;
    -fx-font-size: 20px;
}

.jfx-layout-body{
    -fx-background-color: #FAF9F6; 
    -fx-padding: 5;  
}

.jfx-layout-actions{
	-fx-background-color: #FAF9F6;
	-fx-alignment: center;
}

.jfx-layout-actions .button{
	-fx-background-color: #66A7F2;
	-fx-text-fill: #FAF9F6;
	-fx-pref-width: 100;
	-fx-font-weight: bold;
}
