.text-field {
	-fx-background-color: #242633, #FFFFFF;
	-fx-background-insets: 0, 1 1 1 1;
	-fx-background-radius: 5;
}
.text-field:focused {
	-fx-background-radius: 5;
	-fx-background-color: #66A7F2, #FFFFFF;
}

.jfx-snackbar-toast{
	-fx-text-fill: #FE774C;
	-fx-font-weight: bold;
}

.jfx-snackbar-content{
	-fx-background-color: #383838;
	-fx-background-radius: 10 10 0 0;
}