
.text-field {
	-fx-background-color: #242633, #FAF9F6;
	-fx-background-insets: 0, 1 1 1 1;
	-fx-background-radius: 10;
}
.text-field:focused {
	-fx-background-radius: 10;
	-fx-background-color: #66A7F2, #FAF9F6;
	/*-fx-background-insets: 0, -1 -1 2 -1;*/
}

.table-view {
    -fx-background-color:#FAF9F6;
    -fx-background-radius: 10 10 10 10;
}

.table-view .column-header-background{
        -fx-background-color: #242633 ,#FAF9F6;
        -fx-background-radius: 10 10 0 0;
        -fx-background-insets: 0, -1 -1 2 -1;    
}

.table-view .column-header, .table-view .filler{
        -fx-size: 30px;
        -fx-background-color: transparent;
        
}
    
.table-view .column-header .label {
        -fx-text-fill: #242633;
}

.table-view .table-column{
    -fx-alignment: CENTER;
    -fx-font-weight: bold; 
}

.table-row-cell{
	-fx-background-color: #FAF9F6;
}

.table-row-cell:focused{
	-fx-background-color: #66A7F2;
	-fx-text-fill: #FAF9F6;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #BED8F5, #66A7F2);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #BED8F5, #66A7F2);
}

.button:hover{
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}
