.text-field {
	-fx-background-color: #242633, #FFFFFF;
	-fx-background-insets: 0, 1 1 1 1;
	-fx-background-radius: 5;
}
.text-field:focused {
	-fx-background-radius: 0;
	-fx-background-color: #66A7F2, #FAF9F6;
	-fx-background-insets: 0, -1 -1 2 -1;
}
 
