
.table-view {
    -fx-background-color: #1E1E1E ,#FAF9F6;
    -fx-background-radius: 10 10 10 10;
    -fx-background-insets: 0, 2 2 2 2;
    -fx-padding: 2px;
}

.table-view .column-header-background{
        -fx-background-color: #1E1E1E ,#FAF9F6;
        -fx-background-radius: 10 10 0 0;
        -fx-background-insets: 0, 0 0 2 0;    
}

.table-view .column-header, .table-view .filler{
        -fx-size: 30px;
        -fx-background-color: transparent;
        
}
    
.table-view .column-header .label {
        -fx-text-fill: #1E1E1E;
}

.table-view .table-column{
    -fx-alignment: CENTER;
    -fx-font-weight: bold; 
}

.table-row-cell{
	-fx-background-color: #FAF9F6;
}

.table-row-cell:focused{
	-fx-background-color: #66A7F2;
	-fx-text-fill: #FAF9F6;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #BED8F5, #66A7F2);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #BED8F5, #66A7F2);
}

.jfx-snackbar-toast{
	-fx-text-fill: #FE774C;
	-fx-font-weight: bold;
}

.jfx-snackbar-content{
	-fx-background-color: #383838;
	-fx-background-radius: 10 10 0 0;
}

.button:hover{
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}
